@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.65rem;
  --background: 0 0% 100%;
  --foreground: 285.823 5% 14.1%;
  --card: 0 0% 100%;
  --card-foreground: 285.823 5% 14.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 285.823 5% 14.1%;
  --primary: 25.331 23.7% 63.7%;
  --primary-foreground: 17.38 1.3% 97.1%;
  --secondary: 286.375 0.1% 96.7%;
  --secondary-foreground: 285.885 0.6% 21%;
  --muted: 286.375 0.1% 96.7%;
  --muted-foreground: 285.938 1.6% 55.2%;
  --accent: 286.375 0.1% 96.7%;
  --accent-foreground: 285.885 0.6% 21%;
  --destructive: 27.325 24.5% 57.7%;
  --border: 286.32 0.4% 92%;
  --input: 286.32 0.4% 92%;
  --ring: 25.331 23.7% 63.7%;
  --chart-1: 41.116 22.2% 64.6%;
  --chart-2: 184.704 11.8% 60%;
  --chart-3: 227.392 7% 39.8%;
  --chart-4: 84.429 18.9% 82.8%;
  --chart-5: 70.08 18.8% 76.9%;
  --sidebar: 0 0% 98.5%;
  --sidebar-foreground: 285.823 5% 14.1%;
  --sidebar-primary: 25.331 23.7% 63.7%;
  --sidebar-primary-foreground: 17.38 1.3% 97.1%;
  --sidebar-accent: 286.375 0.1% 96.7%;
  --sidebar-accent-foreground: 285.885 0.6% 21%;
  --sidebar-border: 286.32 0.4% 92%;
  --sidebar-ring: 25.331 23.7% 63.7%;
}

.dark {
  --background: 285.823 5% 14.1%;
  --foreground: 0 0% 98.5%;
  --card: 285.885 0.6% 21%;
  --card-foreground: 0 0% 98.5%;
  --popover: 285.885 0.6% 21%;
  --popover-foreground: 0 0% 98.5%;
  --primary: 25.331 23.7% 63.7%;
  --primary-foreground: 17.38 1.3% 97.1%;
  --secondary: 286.033 0.6% 27.4%;
  --secondary-foreground: 0 0% 98.5%;
  --muted: 286.033 0.6% 27.4%;
  --muted-foreground: 286.067 1.5% 70.5%;
  --accent: 286.033 0.6% 27.4%;
  --accent-foreground: 0 0% 98.5%;
  --destructive: 22.216 19.1% 70.4%;
  --border: 0 0% 100% / 10%;
  --input: 0 0% 100% / 15%;
  --ring: 25.331 23.7% 63.7%;
  --chart-1: 264.376 24.3% 48.8%;
  --chart-2: 162.48 17% 69.6%;
  --chart-3: 70.08 18.8% 76.9%;
  --chart-4: 303.9 26.5% 62.7%;
  --chart-5: 16.439 24.6% 64.5%;
  --sidebar: 285.885 0.6% 21%;
  --sidebar-foreground: 0 0% 98.5%;
  --sidebar-primary: 25.331 23.7% 63.7%;
  --sidebar-primary-foreground: 17.38 1.3% 97.1%;
  --sidebar-accent: 286.033 0.6% 27.4%;
  --sidebar-accent-foreground: 0 0% 98.5%;
  --sidebar-border: 0 0% 100% / 10%;
  --sidebar-ring: 25.331 23.7% 63.7%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-bold text-2xl mb-3;
  }
}